NEXT_PUBLIC_STACKS_NETWORK=testnet
NEXT_PUBLIC_CONTRACT_ADDRESS=ST29ECHHQ6F9344SGGGRGDPTPFPTXA3GHXGMKMRG1
NEXT_PUBLIC_CONTRACT_NAME=guess-the-hash
NEXT_PUBLIC_FEE_BPS=100
NEXT_PUBLIC_RESOLVER_TIP_USTX=1000
